:root {
  /* color */
  --color-black: #000;
  --color-white: #fff;
  --color-red: #ea2027;
  --color-orange: #fa8231;
  --color-yellow: #fff200;
  --color-green: #009432;
  --color-blue: #0652dd;
  --color-navy: #1b1464;
  --color-purple: #81007f;
  --color-background: #dcdde1;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--color-background);
}

#canvas {
  width: 80%;
  height: 50%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: var(--color-white);
}

.control-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.control-btn {
  height: 2em;
  padding: 0 1em;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 0.2em;
  margin-right: 1rem;
}

.control-btn:last-child {
  margin-right: 0;
}

.color-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.color-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.black {
  background-color: var(--color-black);
}
.red {
  background-color: var(--color-red);
}
.orange {
  background-color: var(--color-orange);
}
.yellow {
  background-color: var(--color-yellow);
}
.green {
  background-color: var(--color-green);
}
.blue {
  background-color: var(--color-blue);
}
.navy {
  background-color: var(--color-navy);
}
.purple {
  background-color: var(--color-purple);
}
.white {
  background-color: var(--color-white);
}
